fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
python-dotenv
alembic
psycopg2-binary
pytest
pytest-asyncio
bcrypt
motor
email-validator
pymongo